hanko-auth,
hanko-profile {
  /* Color Scheme */
  --color: #121212;
  --color-shade-1: #a1a1a9;
  --color-shade-2: #e5e6ef;

  --brand-color: radial-gradient(
      50% 93.75% at 50% 6.25%,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(0deg, #7773f3, #7773f3),
    radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
  --brand-color-shade-1: radial-gradient(
      50% 93.75% at 50% 6.25%,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.2) 100%
    ),
    linear-gradient(0deg, #7773f3, #7773f3),
    radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.2) 100%);
  --brand-contrast-color: white;

  --background-color: white;
  --error-color: #e82020;
  --link-color: #506cf0;

  /* Font Styles */
  --font-weight: 400;
  --font-size: 16px;
  --font-family: Satoshi, sans-serif;

  /* Border Styles */
  --border-radius: 8px;
  --border-style: solid;
  --border-width: 1px;

  /* Item Styles */
  --item-height: 34px;
  --item-margin: 0.5rem 0;

  /* Container Styles */
  --container-padding: 30px;
  --container-max-width: 410px;

  /* Headline Styles */
  --headline1-font-size: 24px;
  --headline1-font-weight: 700;
  --headline1-margin: 0 0 1rem;

  --headline2-font-size: 16px;
  --headline2-font-weight: 600;
  --headline2-margin: 1rem 0 0.5rem;

  /* Divider Styles */
  --divider-padding: 0 42px;
  --divider-visibility: visible;

  /* Link Styles */
  --link-text-decoration: none;
  --link-text-decoration-hover: underline;

  /* Input Styles */
  --input-min-width: 14em;

  /* Button Styles */
  --button-min-width: max-content;
}

.hanko::part(form-item) {
  width: 100%;
  flex-shrink: 0;
  flex-basis: 100%;
}

.hanko.dark::part(form-item) input {
  background-color: #111 !important;
}

.hanko::part(headline1) {
  text-align: center;
}

.hanko.dark::part(headline1) {
  color: #fff;
}
.hanko.dark::part(button) {
  border: none;
}

.hanko.dark::part(container),
.hanko.dark::part(divider-text) {
  background-color: #111;
  color: #fff;
}
